<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:left">
  <img class="inline-blk" width="200" alt="Angular Logo" src="/assets/images/Dojologo.png">
  <a [routerLink]="['/home']"><button class="btn">Home</button></a>
  <a [routerLink]="['/mine']"><button class="btn">Mine Coins</button></a>
  <a [routerLink]="['/buy']"><button class="btn">Buy Coins</button></a>
  <a [routerLink]="['/sell']"><button class="btn">Sell Coins</button></a>
  <a [routerLink]="['/browse']"><button class="btn">Browse Ledger</button></a>

  <h1>{{ title }} </h1>
  <router-outlet></router-outlet>
</div>
